@using PredictionLeague.Domain.Common.Enumerations

<div class="@BadgeClass">
    <span class="badge-icon">
        <i class="@IconClass"></i>
    </span>
    @if (IsHidden)
    {
        <span class="blurred-score" title="Predictions are hidden until the deadline.">0 - 0</span>
    }
    else
    {
        <span>@HomeScore - @AwayScore</span>
    }

</div>

@code {
    [Parameter, EditorRequired]
    public MatchStatus Status { get; set; }

    [Parameter]
    public int? PointsAwarded { get; set; }

    [Parameter]
    public int? HomeScore { get; set; }

    [Parameter]
    public int? AwayScore { get; set; }

    [Parameter]
    public bool IsHidden { get; set; }

    private string BadgeClass => $"badge-group {GetColorClass()} {(Status == MatchStatus.InProgress ? "pulsing" : "")}";

    private string GetColorClass() => PointsAwarded switch
    {
        0 => "badge-group--red",
        3 => "badge-group--yellow",
        5 => "badge-group--green",
        _ => "badge-group--blue"
    };

    private string IconClass => PointsAwarded switch
    {
        0 => "bi bi-x-circle",
        3 => "bi bi-dash-circle",
        5 => "bi bi-check-circle",
        _ => "bi bi-clock"
    };
}