@inherits BaseLeaderboardComponent

@using PredictionLeague.Contracts.Leagues

<div class="card mh-600">
    <h5 class="card-title text-white fw-bold mb-3">Round Prizes</h5>
    <div class="card-body no-padding justify-start">
        @if (IsLoading)
        {
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else if (Prizes?.Any() == true)
        {
            <div class="table-responsive rounded">
                <table class="leaderboard-table table-striped-purple text-white">
                    <thead>
                        <tr>
                            <th class="w-15 text-start">#</th>
                            <th class="w-60 text-start">Player</th>
                            <th class="w-25 text-end">Amt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prize in Prizes)
                        {
                            <tr class="@(GetUserHighlightClass(prize.UserId))">
                                <td class="w-15 text-start fw-bold">@prize.Name</td>
                                <td class="w-60 text-start break-word fw-bold">@(prize.Winner ?? "TBC")</td>
                                <td class="w-25 text-end fw-bold">@prize.Amount.ToString("C", new System.Globalization.CultureInfo("en-GB"))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p class="text-white-50">No Round prizes set.</p>
        }
    </div>
</div>

@code {
    [Parameter] public List<PrizeDto>? Prizes { get; set; }
    [Parameter] public bool IsLoading { get; set; }
}