@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--pl-purple);">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="">
            <img src="https://play-lh.googleusercontent.com/pJPgV--7ICYdqOyd6_8pgVXx9jIa81_YNLKI532jiGa9xBMZJarKRzgj76oYXUO7zK8" alt="Prediction League Logo" style="height: 30px; margin-right: 10px;" />
            Prediction League
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <AuthorizeView>
                <Authorized>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item ms-auto py-0 d-flex align-items-center">
                            <span class="navbar-text text-white me-2 fw-bold">
                                @context.User.FindFirst("FirstName")?.Value
                            </span>
                        </li>

                        <li class="nav-item dropdown py-0">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-size: 1.25rem; line-height: 1;" title="User Menu">
                                <span class="bi bi-person-fill" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <NavLink class="dropdown-item" href="my-details">
                                        <span class="bi bi-person-badge me-2 fw-bold"></span>My Details
                                    </NavLink>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <button class="dropdown-item d-flex align-items-center" type="button" @onclick="LogoutUser">
                                        <span class="bi bi-box-arrow-right me-2 fw-bold"></span>Logout
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </Authorized>

                <NotAuthorized>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item ms-auto py-0">
                            <NavLink class="nav-link" href="register" style="color: white;">
                                Register
                            </NavLink>
                        </li>
                        <li class="nav-item py-0">
                            <NavLink class="nav-link" href="login" style="color: white;">
                                Login
                            </NavLink>
                        </li>
                    </ul>
                </NotAuthorized>
            </AuthorizeView>

        </div>
    </div>
</nav>

@code {
    private async Task LogoutUser()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}