@page "/authentication/external-login-callback"

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject ILogger<ExternalLoginCallback> Logger

@attribute [AllowAnonymous]

@using Microsoft.AspNetCore.WebUtilities

<div class="page-container">
    <div class="text-center text-white">
        <h3>Finalizing login...</h3>
        <p>This should only take a moment.</p>
        <div class="spinner-border mt-3" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

@code {
    private bool _hasProcessed;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Logger.LogInformation("External Login Callback On After Render Running");

        if (firstRender && !_hasProcessed)
        {
            _hasProcessed = true;

            var uri = new Uri(NavigationManager.Uri);

            if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("error", out var errorValue))
            {
                Logger.LogWarning("External Login Callback On After Render redirecting with error");

                NavigationManager.NavigateTo($"/authentication/login?error={Uri.EscapeDataString(errorValue.ToString())}");
            }
            else
            { 
                Logger.LogInformation("External Login Callback On After Render notifying user authentication");
                ((ApiAuthenticationStateProvider)AuthStateProvider).NotifyUserAuthentication();
                Logger.LogInformation("External Login Callback On After Render user authentication notified");
                NavigationManager.NavigateTo("/dashboard", forceLoad: true);
            }
        }

        return Task.CompletedTask;
    }
}