.hero-section {
    background: linear-gradient(rgba(49, 20, 74, 0.8), rgba(49, 20, 74, 0.8)), url('https://images.unsplash.com/photo-1579952363873-27f3bade9f55?q=80&w=1935&auto=format&fit=crop') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 6rem 0;
    position: relative;
}

.diagonal-clip {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.feature-icon {
    font-size: 3rem;
    color: var(--pl-green);
}

.tick-icon {
    font-size: 1rem;
    color: var(--pl-green);
}

.testimonial-card {
    background-color: var(--pl-purple-600);
    border: none;
}

    .testimonial-card img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
