.leaderboard-card {
    background-color: var(--pl-purple-800);
    border-radius: var(--bs-border-radius);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.leaderboard-table {
    border-collapse: collapse;
    width: 100%;
    color: white;
    font-size: 0.9em;
}

    .leaderboard-table th,
    .leaderboard-table td {
        padding: 0.75rem;
        text-align: center;
        border-bottom: 1px solid var(--pl-purple-800);
        white-space: nowrap;
    }

    .leaderboard-table th {
        background-color: var(--pl-purple-900);
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .leaderboard-table td {
        background: var(--pl-purple-800);
    }

    .leaderboard-table.light td {
        background: var(--pl-purple-600);
    }

    .leaderboard-table tbody tr:nth-child(even) td {
        background-color: var(--pl-purple-700);
    }

    .leaderboard-table .rank-col {
        width: 15%;
        text-align: left;
    }

    .leaderboard-table .player-name-col {
        white-space: normal;
        word-wrap: break-word;
        text-align: left;
    }

    .leaderboard-table .points-col {
        width: 25%;
        text-align: right;
    }

.leaderboard-card .league-card-body,
.leaderboard-card .card-body {
    padding: 1.5em;
    flex-grow: 1;
    overflow-y: auto;
}

.leaderboard-table .league-card-body.inner-card {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
}

.carousel-item-content .leaderboard-card {
    width: 100%;
    min-width: 0;
}

.leaderboard-table {
    table-layout: fixed;
}

    .leaderboard-table tbody tr.current-user-highlight td {
        background-color: var(--pl-green) !important;
        color: white !important;
    }

    .leaderboard-table tbody tr.overall-round-winner,
    .leaderboard-table tbody tr.overall-round-winner td,
    .leaderboard-table tbody tr.overall-round-winner.current-user-highlight td {
        background-color: var(--pl-gold) !important;
        color: var(--pl-white) !important;
        border: none;
    }
