@if (!string.IsNullOrEmpty(Message))
{
    <div class="message-box-solid error" role="alert" style="white-space: pre-wrap;">
        @Message
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }
}