.badge {
    padding: 0.25rem 0.75rem;
    border-radius: 50rem;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: white;
}

.badge-group {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 50rem;
    padding: 4px 12px 4px 4px;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}

.badge-group-with-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .badge-group-with-header > div:first-of-type {
        font-weight: bold;
    }

.badge-group--green {
    background-color: var(--pl-green-600);
}

.badge-group--purple {
    background-color: var(--pl-purple-200);
}

.badge-group--red {
    background-color: var(--pl-red);
}

.badge-group--orange {
    background-color: var(--pl-orange);
}

.badge-group--blue {
    background-color: var(--pl-blue-700);
}

.badge-group--yellow {
    background-color: var(--pl-yellow);
    color: var(--pl-purple-800);
}

.badge-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    min-width: 24px;
    border-radius: 50%;
    font-size: 12px;
    background-color: white;
}

    .badge-icon .bi {
        position: relative;
        top: 1px;
    }

.badge-group--green .badge-icon {
    color: var(--pl-green-600);
}

.badge-group--purple .badge-icon {
    color: var(--pl-purple-200);
}

.badge-group--red .badge-icon {
    color: var(--pl-red);
}

.badge-group--blue .badge-icon {
    color: var(--pl-blue-700);
}

.badge-group--orange .badge-icon {
    color: var(--pl-orange);
}

.badge-group--yellow .badge-icon {
    color: var(--pl-purple-800);
}

.current-user-highlight .badge-group--green {
    background-color: white;
    color: var(--pl-green-600);
}

@media (max-width: 768px) {
    .badge-group {
        font-size: 0.6em;
        padding: 0px 10px 0px 0px;
    }

        .badge-group.prediction-badge {
            font-size: 0.9em;
        }

        .badge-group .badge-icon {
            font-size: 1em;
        }

            .badge-group .badge-icon.large-font {
                font-size: 1.5em;
            }

    .badge-icon {
        font-size: 1.1em;
    }

    .badge-group-with-header > div:first-of-type {
        font-size: 0.75em;
    }
}
