.green-button,
.green-button:disabled,
.green-button:active {
    background-color: var(--pl-green-600);
    color: var(--pl-white);
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

    .green-button:not(.badge):hover {
        background-color: var(--pl-white);
        color: var(--pl-green-600);
    }

.red-button,
.red-button:disabled,
.red-button:active {
    background-color: var(--pl-red);
    color: var(--pl-white);
    font-weight: bold;
    border: none;
}

    .red-button:not(.badge):hover {
        background-color: var(--pl-white);
        color: var(--pl-red);
    }

.red-outline-button {
    border: 1px solid var(--pl-red);
    color: var(--pl-red);
    background: transparent;
    font-weight: bold;
    transition: all 0.3s;
}

    .red-outline-button:hover {
        background-color: var(--pl-red);
        color: var(--pl-white);
    }

.purple-accent-button,
.purple-accent-button:disabled,
.purple-accent-button:active {
    background-color: var(--pl-purple-200);
    color: var(--pl-white);
    font-weight: bold;
}

    .purple-accent-button:not(.badge):hover {
        background-color: var(--pl-white);
        color: var(--pl-purple-200);
    }

.blue-light-button,
.blue-light-button:disabled,
.blue-light-button:active {
    background-color: var(--pl-blue-700);
    color: var(--pl-white);
    font-weight: bold;
}

    .blue-light-button:not(.badge):hover {
        background-color: var(--pl-white);
        color: var(--pl-blue-700);
    }

.btn.grey-button,
.btn.grey-button:disabled,
.btn.grey-button:active {
    background-color: var(--pl-grey-500);
    border-color: var(--pl-grey-500);
    opacity: 0.65;
    cursor: not-allowed;
}

.back-button,
.back-button:disabled,
.back-button:active {
    position: absolute;
    top: -15px;
    left: 0;
    transform: translateY(-50%);
    color: var(--pl-white);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}

    .back-button:not(.badge):hover {
        color: var(--pl-white);
        text-decoration: underline;
    }

    .back-button span {
        font-size: 24px;
    }

.password-toggle-btn {
    background-color: var(--pl-purple-1000);
    color: var(--pl-white);
    border: 1px solid var(--pl-white);
    border-left: 0;
    transition: color 0.2s ease-in-out;
}

    .password-toggle-btn:hover,
    .password-toggle-btn:active {
        color: var(--pl-green-600);
        border: 1px solid var(--pl-white);
        border-left: 0;
        background-color: var(--pl-purple-1000);
    }

    .password-toggle-btn:focus {
        color: var(--pl-green-600);
        border: 1px solid var(--pl-white);
        border-left: 0;
        background-color: var(--pl-purple-800);
    }

.btn .bi {
    vertical-align: middle;
    line-height: 1;
}

/* Social Buttons */
.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    font-weight: 500;
    border-radius: var(--bs-border-radius);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    transition: fill 0.2s ease-in-out;
}

.google-btn {
    background-color: var(--pl-white);
    color: var(--pl-black);
    border: 1px solid var(--pl-grey-200);
}

    .google-btn:hover {
        background-color: var(--pl-grey-300);
        border-color: var(--pl-grey-300);
    }

.apple-btn {
    background-color: var(--pl-black);
    color: var(--pl-white);
    border: 1px solid var(--pl-black);
}

    .apple-btn:hover {
        background-color: var(--pl-white);
        color: var(--pl-black);
    }

        .apple-btn:hover .social-icon {
            fill: var(--pl-black);
        }
