.form-container {
    background-color: var(--pl-purple-1000);
    padding: 2.5rem;
    border-radius: var(--bs-border-radius);
    width: 100%;
    max-width: 600px;
}

    .form-container.wide {
        max-width: 900px;
    }

    .form-container.extra-wide {
        max-width: 1200px;
    }

.form-check-input {
    background-color: var(--pl-red);
    border-color: var(--pl-red);
}

    .form-check-input:checked {
        background-color: var(--pl-green);
        border-color: var(--pl-green);
    }

.form-sub-header {
    color: var(--pl-grey-100);
    font-weight: 500;
}

.input-group-text.prize-label {
    background-color: var(--pl-purple-900);
    border-color: var(--pl-purple-900);
    color: white;
    font-weight: 500;
}

.prize-summary .league-card-row {
    border-bottom: 1px solid var(--pl-purple-800);
}

    .prize-summary .league-card-row:last-child {
        border-bottom: none;
    }

.message-box-solid {
    color: white;
    border-radius: var(--bs-border-radius);
    padding: 0.4rem 0.8rem;
    font-size: 0.85em;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

    .message-box-solid::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -.125em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 0.5em;
        font-size: 1.1em;
    }

    .message-box-solid.error {
        background-color: var(--pl-red);
    }

        .message-box-solid.error::before {
            content: "\F333";
        }

    .message-box-solid.warning {
        background-color: var(--pl-yellow);
        color: var(--pl-purple-900);
        font-weight: bold;
    }

        .message-box-solid.warning::before {
            content: "\F33B";
            color: var(--pl-purple-900);
        }

    .message-box-solid.success {
        background-color: var(--pl-green);
    }

        .message-box-solid.success::before {
            content: "\F26B";
        }

.form-control {
    height: 48px;
    width: 100%;
    border-radius: 28px;
    padding: 0 18px;
    background: var(--pl-purple-1000);
    border: 1px solid var(--pl-white);
    color: var(--pl-white);
    font-size: 1rem;
    transition: all 0.18s ease;
}

    .form-control::placeholder {
        color: var(--pl-white);
    }

    .form-control:focus {
        background: var(--pl-purple-800);
        color: var(--pl-white);
        border-color: var(--pl-white);
        box-shadow: none;
        outline: none;
    }

/* Match form input height for buttons */
.input-height {
    height: 48px;
}

.input-group .form-control:focus {
    z-index: auto;
}

.input-group:focus-within .password-toggle-btn {
    background-color: var(--pl-purple-800);
    color: var(--pl-white);
    z-index: 2
}

@media(max-width: 768px) {
    .message-box-solid {
        text-align: center;
    }
}
