/* League Info Cards */

.league-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.league-card {
    background-color: var(--pl-purple-800);
    border-radius: var(--bs-border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.league-card-header {
    padding: 1.5rem 1.5rem 0.5rem;
    background-color: var(--pl-purple-900);
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .league-card-header h5 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .league-card-header small {
        font-size: 0.85rem;
    }

.league-card-body {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    flex-grow: 1;
}

    .league-card-body.justify-start {
        justify-content: start;
    }

.league-price {
    font-weight: bold;
    color: var(--pl-blue-700);
    font-size: 1.1em;
}

.member-count-info {
    color: var(--text-white-50);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.league-card-footer {
    padding: 0.5rem 1.5rem 1.5rem;
}
