/* Member List Cards */

.member-card {
    background-color: var(--pl-purple-900);
    padding: 1rem 1.5rem;
    border-radius: var(--bs-border-radius);
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.member-card-actions {
    display: flex;
    gap: 0.5rem;
}

.member-status-column {
    background-color: var(--pl-purple-800);
    border-radius: var(--bs-border-radius);
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.column-placeholder {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    .member-card {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .member-status-column h4 {
        text-align: center;
    }
}
