@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@import url('buttons.css');
@import url('cards.css');
@import url('dashboard.css');
@import url('forms.css');
@import url('layout.css');
@import url('loading.css');
@import url('navbar.css');
@import url('tables.css');

:root {
    --pl-purple: #3D195B;
    --pl-purple-dark: #31144a;
    --pl-light-purple: #4A2E6C;
    --pl-pink: #E90052;
    --pl-dark-pink: #963cff;
    --pl-cyan: #04F5FF;
    --pl-green: #00FF85;
    --pl-light-green: #84fab0;
    --pl-light-cyan: #03c2b4;
    --content-bg: #f4f7f6;
    --light-text: #EAEAEA;
}

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--content-bg);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--pl-purple);
    font-weight: 700;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }