.green-button,
.green-button:disabled,
.green-button:active {
    background-color: var(--pl-green);
    color: white;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

    .green-button:not(.badge):hover {
        background-color: white;
        color: var(--pl-green);
    }

.pink-button,
.pink-button:disabled,
.pink-button:active {
    background-color: var(--pl-red);
    color: white;
    font-weight: bold;
}

    .pink-button:not(.badge):hover {
        background-color: white;
        color: var(--pl-red);
    }

.dark-pink-button,
.dark-pink-button:disabled,
.dark-pink-button:active {
    background-color: var(--pl-purple-bright);
    color: white;
    font-weight: bold;
}

    .dark-pink-button:not(.badge):hover {
        background-color: white;
        color: var(--pl-purple-bright);
    }

.light-cyan-button,
.light-cyan-button:disabled,
.light-cyan-button:active {
    background-color: var(--pl-light-cyan);
    color: white;
    font-weight: bold;
}

    .light-cyan-button:not(.badge):hover {
        background-color: white;
        color: var(--pl-light-cyan);
    }

.btn.disabled-button,
.btn.disabled-button:disabled,
.btn.disabled-button:active {
    background-color: #6c757d;
    border-color: #6c757d;
    opacity: 0.65;
    cursor: not-allowed;
}

.back-button,
.back-button:disabled,
.back-button:active {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: var(--pl-red);
    transition: color 0.2s ease-in-out;
}

    .back-button:not(.badge):hover {
        color: white;
    }

    .back-button span {
        font-size: 24px;
    }

.password-toggle-btn {
    background-color: white;
    color: var(--pl-purple);
    border: none;
    transition: color 0.2s ease-in-out;
}

    .password-toggle-btn:hover,
    .password-toggle-btn:active,
    .password-toggle-btn:focus {
        color: var(--pl-green);
        background-color: white;
    }

.btn .bi {
    vertical-align: middle;
    line-height: 1;
}

/* Social Buttons */
.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    font-weight: 500;
    border-radius: var(--bs-border-radius);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    transition: fill 0.2s ease-in-out;
}

.google-btn {
    background-color: white;
    color: #1f1f1f;
    border: 1px solid #dadce0;
}

    .google-btn:hover {
        background-color: #cecece;
        border-color: #c6c6c6;
    }

.apple-btn {
    background-color: black;
    color: white;
    border: 1px solid black;
}

    .apple-btn:hover {
        background-color: white;
        color: black;
    }

        .apple-btn:hover .social-icon {
            fill: black;
        }
