.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.5rem;
}

.team-card {
    background-color: var(--pl-light-purple);
    border-radius: var(--bs-border-radius);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

    .team-card:hover .team-card-logo-bg {
        background-color: var(--pl-green);
    }

.team-card-logo-bg {
    background-color: #fff;
    padding: 1.5rem;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.team-card-logo {
    height: 80px;
    max-width: 100%;
}

.team-card-body {
    padding: 1rem;
}

.team-card-name {
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-editor-row {
    margin-bottom: 1.5rem;
}

.match-card {
    border: 1px solid var(--pl-purple-dark);
    border-radius: var(--bs-border-radius);
    background-color: var(--pl-purple);
}

.match-card-header {
    padding: 0.5rem 1rem;
    background-color: var(--pl-purple-dark);
    color: white;
}

.member-card {
    background-color: var(--pl-purple-dark);
    padding: 1rem 1.5rem;
    border-radius: var(--bs-border-radius);
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.member-card-actions {
    display: flex;
    gap: 0.5rem;
}

.member-status-column {
    background-color: var(--pl-purple);
    border-radius: var(--bs-border-radius);
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.column-placeholder {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}
