
.dashboard-container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.dashboard-card {
    background-color: var(--pl-light-purple);
    padding: 2rem;
    border-radius: var(--bs-border-radius);
    color: white;
    display: flex;
    flex-direction: column;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-grow: 1;
}

.carousel-btn {
    background: none;
    border: none;
    color: var(--pl-green); 
    font-size: 2.5rem;
    line-height: 1;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

    .carousel-btn:hover {
        color: white;
    }

    .carousel-btn:disabled {
        color: var(--pl-purple);
        cursor: not-allowed;
    }

.round-card {
    background-color: var(--pl-purple);
    border-radius: var(--bs-border-radius);
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px; 
    flex-shrink: 0;
}

.round-card-header {
    background-color: var(--pl-purple-dark);
    padding: 1rem;
    text-align: center;
}

.round-card-body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.deadline-text {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: var(--light-text);
}

.leagues-list-container {
    max-width: 600px;
    width: 100%;
}

.joinable-league-item {
    background-color: var(--pl-purple);
    border-color: var(--pl-purple-dark);
    color: white;
    margin-bottom: 0.5rem;
    border-radius: var(--bs-border-radius);
}

    .joinable-league-item:hover {
        background-color: var(--pl-purple-dark);
    }

/* Responsive adjustments for mobile */
@media (max-width: 992px) {
    .dashboard-container {
        width: 95%;
    }

    .rounds-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
