.form-container {
    background-color: var(--pl-light-purple);
    padding: 2.5rem;
    border-radius: var(--bs-border-radius);
    width: 100%;
    max-width: 600px;
}

    .form-container.wide {
        max-width: 900px;
    }

    .form-container.extra-wide {
        max-width: 1200px;
    }

.match-logo {
    height: 25px;
}

.logo-wrapper {
    background-color: transparent;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

    .logo-wrapper.visible {
        background-color: white;
    }


/* Validation */
.message-box-solid {
    color: white;
    border-radius: var(--bs-border-radius);
    padding: 0.4rem 0.8rem;
    font-size: 0.85em;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

    .message-box-solid::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -.125em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 0.5em;
        font-size: 1.1em;
    }

    .message-box-solid.error {
        background-color: var(--pl-pink);
    }

        .message-box-solid.error::before {
            content: "\F333";
        }

    .message-box-solid.success {
        background-color: var(--pl-green);
    }

        .message-box-solid.success::before {
            content: "\F26B";
        }
