.badge-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
}

.badge-icon-approved {
    background-color: var(--pl-green);
}

.badge-icon-rejected {
    background-color: var(--pl-red);
}

.badge-icon-pending {
    background-color: var(--pl-purple-bright);
}
