.page-container {
    background-color: var(--pl-purple);
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.admin-table-container {
    background-color: var(--pl-light-purple);
    padding: 2.5rem;
    border-radius: var(--bs-border-radius);
    max-width: 900px;
    margin: auto;
}

.admin-content-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.hero-section {
    background-color: var(--pl-purple);
}

.hero-image {
    height: 110px;
    background-color: white;
    border-radius: var(--bs-border-radius);
}

@media (max-width: 768px) {
    .page-container, .my-details-container {
        padding: 1em; 
        align-items: start;
    }

    .admin-table-container, .form-container {
        padding: 1.5rem; 
        margin: 0;
        width:100%;
    }
}
