
.navbar-custom {
    background-color: var(--pl-purple);
}

.navbar-logo {
    height: 30px;
    margin-right: 10px;
}

.navbar-text{
    color: white;
}

.navbar-nav .nav-link {
    color: white;
    border-radius: 4px; 
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link.active {
        background-color: var(--pl-green);
        color: var(--pl-purple) !important;
    }

        .navbar-nav .nav-link:hover *,
        .navbar-nav .nav-link.active * {
            color: var(--pl-purple) !important;
        }

.user-icon {
    font-size: 1.25rem;
}
