.navbar-custom {
    background-color: var(--pl-purple);
}

.navbar-logo {
    height: 30px;
    margin-right: 10px;
}

/* --- DESKTOP STYLES --- */

/* Base styles for desktop nav links */
.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .navbar-text {
    color: white !important;
    font-weight: 700;
}

.admin-toggle {
    font-weight: bold;
}

.user-menu-toggle {
    line-height: 1;
}

.user-icon {
    font-size: 1.25rem;
}

/* Hover effect styles for desktop */
.navbar-nav > .nav-item {
    transition: background-color 0.2s ease-in-out;
    border-radius: var(--bs-border-radius);
}

    .navbar-nav > .nav-item:not(.no-hover):hover {
        background-color: white;
    }

        .navbar-nav > .nav-item:hover .nav-link,
        .navbar-nav > .nav-item:hover .navbar-text,
        .navbar-nav > .nav-item:hover .bi-person-fill {
            color: var(--pl-purple) !important;
        }

/* Dropdown menu styles */
.dropdown-menu {
    background-color: white;
    border: none;
}

.dropdown-item {
    color: var(--pl-purple);
    font-weight: 500;
}

    .dropdown-item:hover, .dropdown-item:focus {
        color: var(--pl-light-purple);
        background-color: white;
        font-weight: bold;
    }

    .dropdown-item.active {
        color: var(--pl-light-purple);
        background-color: white;
    }

    .dropdown-item .bi {
        font-weight: bold !important;
        color: var(--pl-purple);
    }

.dropdown-divider {
    border-top: 1px solid rgba(61, 25, 91, 0.25);
}


/* --- MOBILE STYLES --- */
@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
    }

    .mobile-nav-header {
        font-weight: 700;
        color: var(--pl-light-cyan) !important;
        font-size: 1.1rem;
        padding-top: 1rem;
    }

    .mobile-nav-sub-item {
        padding-left: 2rem !important;
        font-size: 1rem;
    }
}
