/* Color Utilities - Using design tokens from variables.css */

/* Text Colors */
.text-muted {
    color: var(--pl-grey-500);
}

.text-grey-300 {
    color: var(--pl-grey-300);
}

.text-blue-500 {
    color: var(--pl-blue-500);
}

.text-green-600 {
    color: var(--pl-green-600);
}

.text-red {
    color: var(--pl-red) !important;
}

.text-purple-1000 {
    color: var(--pl-purple-1000) !important;
}

/* Background Colors */
.bg-purple-600 {
    background-color: var(--pl-purple-600);
}

.bg-green-600 {
    background-color: var(--pl-green-600);
}

.bg-blue-700 {
    background-color: var(--pl-blue-700);
}
