/* Colour Utilities - Complete palette using design tokens from variables.css */

/* ============================================
   TEXT COLOURS
   ============================================ */

/* White/Black */
.text-white {
    color: var(--pl-white);
}

.text-black {
    color: var(--pl-black);
}

/* Purples */
.text-purple-200 {
    color: var(--pl-purple-200);
}

.text-purple-300 {
    color: var(--pl-purple-300);
}

.text-purple-600 {
    color: var(--pl-purple-600);
}

.text-purple-700 {
    color: var(--pl-purple-700);
}

.text-purple-800 {
    color: var(--pl-purple-800);
}

.text-purple-900 {
    color: var(--pl-purple-900);
}

.text-purple-1000 {
    color: var(--pl-purple-1000) !important;
}

/* Blues */
.text-blue-500 {
    color: var(--pl-blue-500);
}

.text-blue-700 {
    color: var(--pl-blue-700);
}

/* Greens */
.text-green-300 {
    color: var(--pl-green-300);
}

.text-green-600 {
    color: var(--pl-green-600);
}

/* Reds/Yellows/Orange */
.text-red {
    color: var(--pl-red) !important;
}

.text-yellow {
    color: var(--pl-yellow);
}

.text-orange {
    color: var(--pl-orange);
}

/* Greys */
.text-grey-100 {
    color: var(--pl-grey-100);
}

.text-grey-200 {
    color: var(--pl-grey-200);
}

.text-grey-300 {
    color: var(--pl-grey-300);
}

.text-grey-500 {
    color: var(--pl-grey-500);
}

.text-muted {
    color: var(--pl-grey-500);
}

/* Medals */
.text-gold {
    color: var(--pl-gold);
}

.text-silver {
    color: var(--pl-silver);
}

.text-bronze {
    color: var(--pl-bronze);
}

/* ============================================
   BACKGROUND COLOURS
   ============================================ */

/* White/Black */
.bg-white {
    background-color: var(--pl-white);
}

.bg-black {
    background-color: var(--pl-black);
}

.bg-transparent {
    background-color: transparent;
}

/* Purples */
.bg-purple-200 {
    background-color: var(--pl-purple-200);
}

.bg-purple-300 {
    background-color: var(--pl-purple-300);
}

.bg-purple-600 {
    background-color: var(--pl-purple-600);
}

.bg-purple-700 {
    background-color: var(--pl-purple-700);
}

.bg-purple-800 {
    background-color: var(--pl-purple-800);
}

.bg-purple-900 {
    background-color: var(--pl-purple-900);
}

.bg-purple-1000 {
    background-color: var(--pl-purple-1000);
}

/* Blues */
.bg-blue-500 {
    background-color: var(--pl-blue-500);
}

.bg-blue-700 {
    background-color: var(--pl-blue-700);
}

/* Greens */
.bg-green-300 {
    background-color: var(--pl-green-300);
}

.bg-green-600 {
    background-color: var(--pl-green-600);
}

/* Reds/Yellows/Orange */
.bg-red {
    background-color: var(--pl-red);
}

.bg-yellow {
    background-color: var(--pl-yellow);
}

.bg-orange {
    background-color: var(--pl-orange);
}

/* Greys */
.bg-grey-100 {
    background-color: var(--pl-grey-100);
}

.bg-grey-200 {
    background-color: var(--pl-grey-200);
}

.bg-grey-300 {
    background-color: var(--pl-grey-300);
}

.bg-grey-500 {
    background-color: var(--pl-grey-500);
}

/* Medals */
.bg-gold {
    background-color: var(--pl-gold);
}

.bg-silver {
    background-color: var(--pl-silver);
}

.bg-bronze {
    background-color: var(--pl-bronze);
}
