/* Miscellaneous Utilities */

/* Text Alignment */
.centre {
    text-align: center;
}

/* Whitespace */
.whitespace-pre {
    white-space: pre-wrap;
}

.break-word {
    white-space: normal !important;
    word-wrap: break-word;
}

/* Heights */
.h-screen {
    height: 100vh;
}

/* Max Widths */
.max-w-logo {
    max-width: 60px;
}

/* Transitions */
.transition-all {
    transition: all 0.3s;
}

/* Shadows */
.shadow {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35), inset 0 0 0 1px rgba(255, 255, 255, 0.05) !important;
}
