/* Sizing Utilities - Width and Height classes */

/* Percentage Widths */
.w-15 {
    width: 15%;
}

.w-25 {
    width: 25%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

/* Heights */
.h-screen {
    height: 100vh;
}

/* Max Heights */
.mh-600 {
    max-height: 600px;
}

/* Max Widths */
.max-w-60 {
    max-width: 60px;
}
