/* Sizing Utilities - Width and Height classes */

/* Percentage Widths */
.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: 33%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

/* Heights */
.h-screen {
    height: 100vh;
}

/* Max Heights */
.mh-600 {
    max-height: 600px;
}

/* Max Widths */
.max-w-60 {
    max-width: 60px;
}
