.page-container {
    background-color: var(--pl-purple-800);
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.admin-table-container {
    background-color: var(--pl-purple-600);
    padding: 2.5rem;
    border-radius: var(--bs-border-radius);
    width: 80%;
    max-width: 1400px;
    margin: auto;
}

.admin-content-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.hero-section {
    background-color: var(--pl-purple-800);
}

.hero-image {
    height: 110px;
    background-color: white;
    border-radius: var(--bs-border-radius);
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: 33%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.mh-600{
    max-height: 600px;
}

.break-word {
    white-space: normal !important;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .page-container {
        padding: 1em;
        align-items: flex-start;
    }

    .admin-table-container, .form-container {
        padding: 1.5rem;
        margin: 0;
        width: 100%;
    }

    dd {
        font-size: 0.8em;
    }
}
