main {
    background: var(--pl-purple-800);
}

main.light-grey{
    background: var(--pl-grey-100);
}

    main.purple-gradient {
        background: linear-gradient(135deg, var(--pl-purple-300) 0%, var(--pl-purple-900) 100%);
    }

.page-container {
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.admin-table-container {
    background-color: var(--pl-purple-600);
    padding: 2.5rem;
    border-radius: var(--bs-border-radius);
    width: 80%;
    max-width: 1400px;
    margin: auto;
}

.admin-content-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.hero-section {
    background-color: var(--pl-purple-800);
}

.hero-image {
    height: 100px;
    border-radius: var(--bs-border-radius);
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: 33%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.mh-600{
    max-height: 600px;
}

.break-word {
    white-space: normal !important;
    word-wrap: break-word;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center !important;
}

.flex-center {
    display: flex;
    align-items: center !important;
}

.shadow {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35), inset 0 0 0 1px rgba(255, 255, 255, 0.05) !important;
}

.rounded{
    border-radius: var(--bs-border-radius);
}

.table-responsive {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.table-responsive:hover {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
}

@media (max-width: 768px) {
    .page-container {
        padding: 1em;
        align-items: flex-start;
    }

    .admin-table-container, .form-container {
        padding: 1.5rem;
        margin: 0;
        width: 100%;
    }

    dd {
        font-size: 0.8em;
    }
}
