.app-loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pl-purple-800);
    color: white;
    z-index: 9999;
}

    .app-loading-container .loading-logo {
        height: 80px;
        margin-bottom: 2rem;
    }

    .app-loading-container .spinner {
        border: 4px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        border-top: 4px solid var(--pl-green);
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        margin-bottom: 20px;
    }
